In [31]:
import os
import cv2
import numpy as np
import pickle 
from PIL import Image

In [4]:
import pandas as pd

In [25]:
x = ['a', 'b', 'c']
y = [1, 2, 3]

In [26]:
df = pd.DataFrame([x, y])

In [27]:
df = df.transpose()

In [28]:
df

   0  1
0  a  1
1  b  2
2  c  3

In [29]:
name = list()
image = list()

In [33]:
file_directory = 'e:\\my_projects\\ai_ml_project' # getting location of faces folder
faces_to_train_directory = os.path.join(file_directory, 'faces_to_train')
face_cascade = cv2.CascadeClassifier(f'{file_directory}\\cascades\\data\\haarcascade_frontalface_alt2.xml')

for root, dirs, files in os.walk(faces_to_train_directory):
    for file in files:
        try: 
            if file.endswith('png') or file.endswith('jpg') or file.endswith('jpeg'):
                path = os.path.join(root, file)
                label = os.path.basename(root)

                pil_image = Image.open(fr'{path}').convert('L')  # .conver('L') converts it into black and white
                size = (550, 550) # resizing before training cuz for some reason this is better
                final_image = pil_image.resize(size, Image.ANTIALIAS)
                image_array = np.array(final_image, 'uint8')  # converting images to numpy array 
                # print(image_array)
                faces = face_cascade.detectMultiScale(image_array, scaleFactor=1.5, minNeighbors=5)

                for (x, y, w, h) in faces:
                    roi = image_array[y:y+h, x:x+w] # roi => region of interest 
                    image.append(roi)
                    name.append(label)

        except:
            continue

e:\my_projects\ai_project\lib\site-packages\PIL\Image.py:946: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  "Palette images with Transparency expressed in bytes should be "

In [41]:
len(image)

852

In [42]:
len(name)

852

In [45]:
df = pd.DataFrame([name, image])
df = df.transpose()

In [46]:
df

                  0                                                  1
0        bill_gates  [[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...
1        bill_gates  [[207, 209, 212, 211, 211, 211, 211, 212, 211,...
2        bill_gates  [[38, 50, 79, 99, 116, 117, 107, 111, 109, 101...
3        bill_gates  [[67, 57, 38, 36, 42, 49, 58, 42, 32, 33, 27, ...
4        bill_gates  [[35, 33, 34, 34, 34, 35, 34, 35, 34, 34, 34, ...
..              ...                                                ...
847  tom_hiddleston  [[38, 36, 38, 47, 36, 21, 32, 64, 46, 25, 22, ...
848  tom_hiddleston  [[156, 159, 166, 170, 166, 163, 164, 166, 159,...
849  tom_hiddleston  [[9, 4, 9, 11, 7, 7, 9, 10, 8, 8, 7, 9, 12, 8,...
850  tom_hiddleston  [[97, 93, 90, 88, 86, 84, 79, 76, 76, 73, 70, ...
851  tom_hiddleston  [[106, 123, 134, 123, 127, 136, 149, 154, 160,...

[852 rows x 2 columns]

In [80]:
df.columns = ['name', 'image']

In [83]:
df['image'] = df['image'].transform(lambda x: json.dumps(x.tolist()))

In [85]:
df.to_csv('scikit_data.csv', index=False, encoding='utf-8-sig')

In [ ]:
import os
import cv2
from nbformat import read
import numpy as np
import pickle 
from PIL import Image  
import csv 
import random
import json

from sklearn import svm
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [101]:
model = svm.SVC()

In [118]:
data = pd.read_csv('scikit_data.csv')

In [119]:
data['image'] = data['image'].transform(lambda x: np.array(json.loads(x)))

In [127]:
data['shape'] = data['image'].transform(lambda x: x.shape)

In [133]:
data['height'] = data['shape'].transform(lambda x: x[0])

In [134]:
data['width'] = data['shape'].transform(lambda x: x[1])

In [166]:
data['image_resized'] = data['image'].transform(lambda img: cv2.resize(img, dsize=(round(data['width'].mean()), round(data['height'].mean())), interpolation=cv2.INTER_LINEAR_EXACT))

In [174]:
data['image_resized_flattened'] = data['image_resized'].transform(lambda x: x.reshape((1, x.shape[0]*x.shape[1]))[0])

In [175]:
data

,name,image,shape,height,width,image_resized,image_resized_flattened
0,bill_gates,"[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...","(152, 152)",152,152,"[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
1,bill_gates,"[[207, 209, 212, 211, 211, 211, 211, 212, 211,...","(228, 228)",228,228,"[[207, 210, 211, 211, 211, 211, 212, 211, 212,...","[207, 210, 211, 211, 211, 211, 212, 211, 212, ..."
2,bill_gates,"[[38, 50, 79, 99, 116, 117, 107, 111, 109, 101...","(342, 342)",342,342,"[[51, 92, 116, 116, 116, 103, 134, 125, 100, 1...","[51, 92, 116, 116, 116, 103, 134, 125, 100, 10..."
3,bill_gates,"[[67, 57, 38, 36, 42, 49, 58, 42, 32, 33, 27, ...","(228, 228)",228,228,"[[65, 52, 37, 40, 48, 58, 40, 32, 30, 25, 27, ...","[65, 52, 37, 40, 48, 58, 40, 32, 30, 25, 27, 2..."
4,bill_gates,"[[35, 33, 34, 34, 34, 35, 34, 35, 34, 34, 34, ...","(152, 152)",152,152,"[[35, 34, 33, 34, 34, 34, 35, 35, 34, 35, 34, ...","[35, 34, 33, 34, 34, 34, 35, 35, 34, 35, 34, 3..."
...,...,...,...,...,...,...,...
847,tom_hiddleston,"[[38, 36, 38, 47, 36, 21, 32, 64, 46, 25, 22, ...","(228, 228)",228,228,"[[37, 37, 42, 40, 24, 32, 60, 37, 23, 16, 33, ...","[37, 37, 42, 40, 24, 32, 60, 37, 23, 16, 33, 5..."
848,tom_hiddleston,"[[156, 159, 166, 170, 166, 163, 164, 166, 159,...","(228, 228)",228,228,"[[156, 161, 167, 167, 164, 164, 165, 161, 163,...","[156, 161, 167, 167, 164, 164, 165, 161, 163, ..."
849,tom_hiddleston,"[[9, 4, 9, 11, 7, 7, 9, 10, 8, 8, 7, 9, 12, 8,...","(152, 152)",152,152,"[[9, 6, 6, 10, 11, 8, 7, 8, 9, 10, 8, 8, 8, 7,...","[9, 6, 6, 10, 11, 8, 7, 8, 9, 10, 8, 8, 8, 7, ..."
850,tom_hiddleston,"[[97, 93, 90, 88, 86, 84, 79, 76, 76, 73, 70, ...","(228, 228)",228,228,"[[96, 92, 89, 87, 84, 79, 76, 75, 71, 68, 61, ...","[96, 92, 89, 87, 84, 79, 76, 75, 71, 68, 61, 5..."
851,tom_hiddleston,"[[106, 123, 134, 123, 127, 136, 149, 154, 160,...","(342, 342)",342,342,"[[113, 131, 135, 146, 156, 168, 175, 185, 187,...","[113, 131, 135, 146, 156, 168, 175, 185, 187, ..."

In [202]:
train_data, test_data = train_test_split(data, test_size=0.1)

X_training = train_data['image_resized_flattened'].apply(pd.Series)
y_training = train_data['name']
X_testing = test_data['image_resized_flattened'].apply(pd.Series)
y_testing = test_data['name']